

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
   
  }
  
  .buttons {
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    margin: 40px;
    margin-top: 25%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .button1-primary {
    background-color: #2979FF;
    color: #FFFFFF;
  }
  
  .button1-primary:hover {
    background-color: #1E5C9E;
  }
  
  .button2-secondary {
    background-color: #FFFFFF;
    color: #2979FF;
    border: 2px solid #2979FF;
  }
  
  .button2-secondary:hover {
    background-color: #2979FF;
    color: #FFFFFF;
  }
  